title.main {
    text-align: center;
    font-family: ariel;
    font-size: 160%;
    font-style: italic;
    color: cyan;
}

body.status {
    font-family: ariel;
    background-color: lightgray;
    margin:	0px;
    padding: 0px;
    position: static;
}
body.profiles {
    font-family: ariel;
    background-color: lightblue;
    margin:	0px;
    padding: 20px;
}

#profilesTableHolder {
    /*overflow-y: hidden;*/
    /*overflow-x: auto;*/
}
#profilesTable {
    font-family: ariel;
    font-size: 70%;
    border-collapse: collapse;
}
#profilesTableCaption {
    font-family: ariel;
    font-size: 150%;
    font-weight: bold;
}
.profiles_graph {
    background-color: bisque;
}
td {
    border: 1px solid #000;
    white-space: nowrap;
}
.setpoint {
    font-family: ariel;
    font-size: 125%;
}
.durpoint {
    font-family: ariel;
    font-size: 125%;
}

.yaxisticks text {
    font-size: 80%;
    fill: rgb(100, 100, 100);
}

.axistext text {
    font-size: 125%;
    text-decoration: underline;
    fill: rgb(0, 0, 0);
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

#received {
    width: 300px;
    height: 300px;
    border: 1px solid #dedede;
    overflow-y: scroll;
}
	

#sent { width:	500px; }

div#live_updateHolderContainer {
    width:	100%;
    height:	96px;
    margin:     auto;
    transform-style: preserve-3d;
}
div#live_updateHolder {
    /* To centre this div horizontally requires fixed width + margin:auto.
       However width is not known - it depends on number of sensors & relays.
       Therefore don't specify width here but set it programmatically at
       run time. See add_live_data().
    */
    margin:     auto;
    height:	64px;
    border-top:    2px solid black;
    border-bottom: 2px solid black;

    /* Centre vertically within container */
    position:   relative;
    top:        50%;
    transform:  translateY(-50%);
}
div#sensor_updateHolder {
    height:	64px;
    float:	left;
    margin:     auto;
    border-left:  2px solid black;
    border-right: 2px solid black;
}
#sensor_update_title:hover {
    background: #888;
    cursor:     pointer;
}
.sensor_update {
    position:   relative;
    height:	64px;
    line-height: 60px;
    float:	left;
    text-align: center;
}
div#relay_updateHolder {
    height:	64px;
    float:	left;
    /*margin-left: 128px;*/
    margin:     auto;
    /*border-left:  2px solid black;*/
    border-right: 2px solid black;
}
.relay_update {
    position:   relative;
    height:	64px;
    line-height: 60px;
    float:	left;
    text-align: center;
}
.relay_update:hover {
    background: #888;
    cursor:     pointer;
}

div#navigation_holder {
    height:	94px;
    /* clear:   both; */
}
ul#navigation.status_navigation {
    margin:	0;
    padding:	0;
    list-style-type: none;
    background:	#036;
    float:	left;
    width:	100%;
    top:	0;
    border:	5px solid red;
}
ul#navigation li {
    display:	inline;
    margin:	0;
    padding:	0;
}
ul#navigation a {
    display:	block;
    float:	left;
    padding:	2em 5em;
    text-decoration: none;
    color:	#fff;
    background:	#036;
    border-right: 1px solid #fff;
}
ul#navigation a:hover {
    color:	#000;
    background:	#69c;
}

div#main_content {
    float:	right;
    width:	100%;
    height:	720px;
    background:	#444;
    overflow:	hidden
}
div#content_1 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#c99;
    color:	#fff;
    overflow-y: auto;
}
div#content_2 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#699;
    color:	#fff;
    overflow-y: auto;
}
div#content_3 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#040;
    color:	#fff;
}
div#content_4 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#448;
    color:	#fff;
    overflow:   auto;
}
div#content_5 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#8f8;
    color:	#000;
}



div#jobComposer {
    margin:	0;
    padding:	0;
    list-style-type: none;
    background:	#636;
    float:	left;
    width:	100%;
    top:	0;
    border:	5px solid red;
}
#jobSaveButton {
    float:	left;
    margin:     0;
    padding:	0;
    text-decoration: none;
    background:	#000;
}
#jobSaveButton a {
    display:    block;
    text-decoration: none;
    color:	#fff;
    background:	#036;
    margin:     0;
    padding:	1em;
}
#jobSaveButton a:hover {
    color:      #000;
    background: #69c;
}
#jobNameHolder {
    text-align: center;
    float:	left;
    width:      14em;
    margin:	0;
    padding:	4px;
    border:	1px solid white;
}
#jobName {
    padding:	0;
}
#jobPreHeat {
    float:	left;
    margin:	0;
    padding:	1em;
    background:	#333;
    background:	#000;
}
#jobProfileHolder {
    float:	left;
    padding:	0;
    margin:	0;
    background:	#666;
}
#jobProfileSelector {
    float:	left;
    width:      12em;
    padding:	0;
    margin:	1em 2em;
    background:	#aaa;
}
#jobDevicesHolder {
    float:	left;
    margin:	0;
    padding:	0;
}
#jobSensorsHolder {
    float:	left;
    width:      12em;
    margin:	0;
    padding:	0;
    background:	#555;
    border:	1px solid white;
}
#jobSensorsTable.jobSensorsTable {
    font-family: ariel;
    font-size:  90%;
}
#jobSensorsTableCaption {
    font-family: ariel;
    font-size:  120%;
    font-weight: bold;
}
#jobRelaysHolder {
    float:	left;
    width:      12em;
    margin:	0;
    padding:	0;
    background:	#888;
    border:	1px solid white;
}
#jobRelaysTable.jobRelaysTable {
    font-family: ariel;
    font-size:  90%;
}
#jobRelaysTableCaption {
    font-family: ariel;
    font-size:  120%;
    font-weight: bold;
}
#jobsListHolder {
    border:	5px solid red;
    margin-top: 100px;
    float:      left;
    width:      100%;
    height:     50%;
}
#jobsListTitle {
    font-family: ariel;
    font-size:  120%;
    font-weight: bold;
    text-align: center;
    background:	#777;
    padding:    1em;
}
#jobsListButtonsHolder {
    background:	#666;
    padding:    2em;
}
ul#jobsListButtons {
    margin:	auto;
    padding:	0;
    min-width:	40%;
    list-style: none;
    text-align: center;
    background:	#330;
    border:	2px solid green;
}
ul#jobsListButtons li {
    display:	inline;
    margin:	auto;
    padding:	0;
    /*border:	2px solid blue; */
}
ul#jobsListButtons a {
    margin:	auto;
    padding:	1em;
    text-decoration: none;
    color:	#fff;
    background:	#036;
    border: 1px solid #fff;
}
ul#jobsListButtons a:hover {
    color:	#000;
    background:	#69c;
}
#jobsListJobs {
    background:	#555;
    margin-top: 0px;
    padding:    0;
    width:      100%;
    height:     40%;
}
#jobsListJobs {
    font-family: "Lucida Console", Monaco, monospace;
    font-size:  80%;
}

.running_job {
    background-color: bisque;
}

/* ex:set ai shiftwidth=4 inputtab=spaces smarttab noautotab: */
