
*.unselectable {
    -webkit-user-select:   none;
    -webkit-touch-callout: none;
    -khtml-user-select:    none;
    -moz-user-select:      none;
    -ms-user-select:       none;
    user-select:           none;
}
body {
    font-size:	100%;
}
h1 {
    font-size:	2.5em;
}
h2 {
    font-size:	1.875em;
}
p {
    font-size:	0.875em;
}

title.main {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    text-align: center;
    font-family: ariel, helvetica, sans-serif;
    font-size: 160%;
    font-style: italic;
    color: cyan;
}

body.status {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    font-family: ariel, helvetica, sans-serif;
    background-color: lightgray;
    margin:	0px;
    padding: 0px;
    position: static;
}
.profilesControls {
    display:    flex;
    justify-content: center;

    display:    -webkit-flex;
    -webkit-justify-content: center;

    overflow:   hidden;
    margin-bottom: 20px;
}

#profilesTableHolder {
    /*overflow-y: hidden;*/
    overflow-x:	auto;
    margin-top:   30px;
    margin-bottom:10px;
    margin-left:  10px;
    margin-right: 10px;
}
#profilesTable {
    font-family: ariel, helvetica, sans-serif;
    font-size: 70%;
    border-collapse: collapse;
}
#profilesTableCaption {
    font-family: ariel, helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.profileLabel {
    background-color: bisque;
}
.profileLabelText {
    font-weight: bold;
    border:     none;
}
#profilesGraphHolder {
    background-color: bisque;
    overflow:	auto;
}
.generic_graph {
    background-color: bisque;
    direction:  ltr;
}
td {
    border: 1px solid #000;
    white-space: nowrap;
}
.setpoint {
    font-family: ariel, helvetica, sans-serif;
    font-size: 125%;
}
.durpoint {
    font-family: ariel, helvetica, sans-serif;
    font-size: 125%;
}

.yaxisticks text {
    font-size: 80%;
    fill: rgb(100, 100, 100);
}

/*.title_text text {*/
.title_Text {
    font-size: 130%;
    text-decoration: underline;
    fill: rgb(0, 0, 0);
    font-weight: bold;
    cursor:     pointer;
}
.axistext text {
    font-size: 125%;
    text-decoration: underline;
    fill: rgb(0, 0, 0);
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}


div#live_updateHolderContainer {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    /*width:	100%;*/
    height:	96px;
    margin:     auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
div#live_updateHolder {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    margin:     auto;
    height:	64px;
    border-top:    2px solid black;
    border-bottom: 2px solid black;
}
div#sensor_updateHolder {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    height:	64px;
    margin:     auto;
    border-left:  2px solid black;
    border-right: 2px solid black;
}
#sensor_update_title {
    font-weight: bold;
}
#sensor_update_title:hover {
    background: #888;
    cursor:     pointer;
}
.sensor_update {
    position:   relative;
    height:	64px;
    line-height: 60px;
    float:	left;
    text-align: center;
}
div#relay_updateHolder {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    height:	64px;
    margin:     auto;
    border-right: 2px solid black;
}
#relay_update_title {
    font-weight: bold;
}
.relay_update {
    position:   relative;
    height:	64px;
    line-height: 60px;
    float:	left;
    text-align: center;
}
.relay_update:hover {
    background: #888;
    cursor:     pointer;
}

div#navigation_holder {
    height:	94px;
    /* clear:   both; */
}
ul#navigation.status_navigation {
    margin:	0;
    padding:	0;
    list-style-type: none;
    background:	#036;
    float:	left;
    width:	100%;
    top:	0;
    border:	5px solid red;
}
ul#navigation li {
    display:	inline;
    margin:	0;
    padding:	0;
}
ul#navigation a {
    display:	block;
    float:	left;
    padding:	2em 5em;
    text-decoration: none;
    color:	#fff;
    background:	#036;
    border-right: 1px solid #fff;
}
ul#navigation a:hover {
    color:	#000;
    background:	#69c;
}

div#main_content {
    float:	right;
    width:	100%;
    height:	960px;
    background:	#444;
    overflow:	hidden
}
div#content_1 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#947676;
    color:	#fff;
    overflow-y: auto;
}
div#content_2 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#366;
    color:	#fff;
    overflow-y: auto;
}
div#content_3 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#867676;
    color:	#fff;
    overflow:   auto;
}
div#content_4 {
    display:    block;
    width:	100%;
    height:	100%;
    background:	#947676;
    color:	#fff;
    overflow:   auto;
}

.page_title, .section_title {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    font-family: ariel, helvetica, sans-serif;
    font-size:  120%;
    font-weight: bold;
    background:	#555;
    height:      60px;
    width:      100%;

}
.navigation_button {
    padding:    20px;
    cursor:     pointer;
    font-family: ariel, helvetica, sans-serif;
    font-size:  100%;
    width:      5%;
}
.navigation_button:hover {
    background:	#666;
}
.title_item {
}
.jobTemplatesTitle:hover {
    cursor:	pointer;
}

.relay_ison {
    font-weight: bold;
    color:      black;
}
.relay_isoff {
    font-weight: normal;
    color:      white;
}

/* running jobs */
#no_running_jobs {
    display:    none;
    justify-content: center;
    align-items:     center;

    -webkit-justify-content: center;
    -webkit-align-items:     center;

    border:	5px solid black;
    width:	50%;
    margin:     50px auto;
    height:	96px;
    padding:    70px;
    font-size:  120%;
    font-weight: bold;
    background-color: bisque;
    color:      black;
}

.running_job {
    background-color: bisque;
}

.context-menu {
    position:	absolute;
    display:	none;
    /*background-color: #f2f2f2; */
    background:	RGBA(148, 118, 118, 0.85);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:	16px;
    min-width:	150px;
    /*border: 1px solid #d4d4d4;*/
    color:      white;
    border:	1px solid white;
    z-index:    1200;
}

.context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.context-menu ul li {
    padding: 4px 16px;
}

.context-menu ul li:hover {
    /*background-color: #4677f8;*/
    color: #fefefe;
    background-color: #555;
}

#jobSaveButton {
    float:	left;
    margin-right: 5px;
    padding:	0;
    text-decoration: none;
    background:	#000;
    width:      72px;
    border:	1px solid white;
}
#jobSaveButton a {
    display:    block;
    text-decoration: none;
    color:	#fff;
    background:	#036;
    margin:     0;
    padding:	16px;
}
#jobSaveButton a:hover {
    color:      #000;
    background: #69c;
}
#jobNameHolder {
    text-align: center;
    float:	left;
    width:      226px;
    margin-right: 5px;
    padding-top: 10px;
    border:	1px solid white;
}
#jobName {
    padding:	0;
}
#jobPreHeat {
    float:	left;
    margin-right: 5px;
    padding-top: 15px;
    width:      172px;
    height:     36px;
    text-align: center;
    border:	1px solid white;
}
#dismissJobComposerButton {
    float:	left;
    margin-left: 5px;
    padding:	1em;
    text-decoration: none;
    background:	#036;
    width:      3.6em;
    border:	1px solid white;
}
#dismissJobComposerButton:hover {
    color:      #000;
    background: #69c;
    cursor:     pointer;
}

/* Profiles page */
#jobProfileHolder {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    float:	left;
    padding:	0;
    margin-right: 5px;
    height:     51px;
    border:	1px solid white;
}
#jobProfileSelector {
    float:	left;
    width:      192px;
    padding:	0;
    margin:	14px 28px;
    background:	#aaa;
}
#jobSensorsHolder {
    float:	left;
    width:      192px;
    margin-right: 5px;
    padding:	3px 0px 3px 0px;
    border:	1px solid white;
}
#jobRelaysHolder {
    float:	left;
    width:      192px;
    margin:	0;
    padding:	3px 0px 3px 0px;
    border:	1px solid white;
}

#jobsListHolder {
    border-bottom:	5px solid red;
    float:      left;
    width:      100%;
}
#jobTemplatesJobsListHolder {
    height:     256px;
    overflow-y: auto;
    direction:  rtl;
    margin-block-start: 5px;
    margin-block-end:   5px;
}
#jobTemplatesJobsTable {
    margin-top: 0px;
    padding:    0;
    width:      100%;
    font-family: "Lucida Console", Monaco, monospace;
    font-size:  80%;
    direction:  ltr;
}
/* New templates list */
#jobTemplatesHolder {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:                    -webkit-flex;
    -webkit-align-items:	center;
    -webkit-justify-content:	center;

    height:     14em;
    overflow-y: auto;
    direction: rtl;

}
#jobTemplatesListHolder {
    background: #366;
    overflow-x: auto;
    direction:  ltr;
}
.templateItem {
    display:    flex;
    align-items: center;
    justify-content: left;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: left;

    height:     44px;
    border-bottom: 1px solid #000;
}
.templateItemName {
    display:    flex;
    align-items: center;
    justify-content: left;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: left;

    margin-left: 2px;
    padding:    0 1em;
    width:      12em;
    height:     36px;
    border:	1px solid black;
    border-radius: 4px;
}
.templateItemPreheat {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    width:      6em;
    height:     36px;
    margin-left: 1em;
    font-size:  95%;
    border:	1px solid black;
    border-radius: 4px;
}
.templateItemSensors:hover {
    cursor:     pointer;
}
.templateItemSensors {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    width:      6em;
    height:     36px;
    margin-left: 1em;
    border:	1px solid black;
    border-radius: 4px;
}
.templateItemRelays:hover {
    cursor:     pointer;
}
.templateItemRelays {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    width:      6em;
    height:     36px;
    margin-left: 1em;
    border:	1px solid black;
    border-radius: 4px;
}
.templateItemProfile {
    display:    flex;
    align-items: center;
    justify-content: left;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: left;

    width:      36em;
    height:     36px;
    margin-left: 1em;

    border:	1px solid black;
    border-radius: 4px;
}
.templateItemTooltip {
    position:	absolute;
    text-align:	center;
    padding:	8px;
    margin-top:	-20px;
    pointer-events: none;

    /*background-color: #f2f2f2; */
    background:	RGBA(148, 118, 118, 0.85);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:	16px;
    min-width:	150px;
    min-height:	12px;
    /*border: 1px solid #d4d4d4;*/
    color:      white;
    border:	1px solid white;
    z-index:    1200;
}




div#jobComposer {
    margin:	0;
    padding:	0;
    list-style-type: none;
    float:	left;
    width:	100%;
    top:	0;
    display:    none;
}
#jobItemsHolder {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    padding:    1em;
    overflow-x: auto;
}
#historyList {
    display:    flex;
    align-items: center;
    justify-content: center;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

}
#jobsHistoryHolder {
    float:      left;
    width:      100%;
    height:     54%;
}
.historyListJobsHolder {
    height:     296px;
    overflow-y: auto;
    direction:  rtl;
    margin-block-start: 5px;
    margin-block-end:   5px;
    width:      72.8em;
}
.historyElement {
    display:    flex;
    align-items: center;

    display:            -webkit-flex;
    -webkit-align-items: center;

    width:      100%;
    height:     43px;
    border-bottom: 1px solid #000;
    direction:  ltr;
}
.historyItemName {
    width:      16em;
    font-family: ariel, helvetica, sans-serif;
    font-size:  90%;
    padding-left: 10px;
}
.historyItemInstance {
    width:      16em;
    font-family: ariel, helvetica, sans-serif;
    font-size:  90%;
    cursor:     pointer;
}

.zoomBoxInput {
    font-size:  0.7em;
    background-color: transparent;
    text-align: center;
    border-width:       0;
    width:      100%;
    margin:     0px;
    color:      #fff;
}
.zoomBoxLabel {
    display:    block;
    font-size:  .8em;
}
.zoomBoxButton {
    color:      #555;
    background-color: #b5b198;
    color:      transparent;
    background-color: transparent;

    /* rounded corners */
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-weight: bold;
}
.zoomBoxButton:hover, .zoomBoxButton:active, .zoomBoxButton:focus {
    background-color:   #cbc7ae;
}
.zoomBox:hover {
    opacity:    1.0;
}
.zoomBox {
    background-color:      #555;
    color:      #c4be92;
    opacity:    0.0;
    text-align: center;

    /* rounded corners */
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding:    .1em;
    width:      3em;
    margin:    10px;
    -webkit-box-shadow: 0px 0px 6px 0px #000;
    box-shadow: 0px 0px 6px 0px #000;
}


.historyElementGraph {
    direction:  ltr;
    border-bottom: 1px solid #000;
    background-color: bisque;
    display:    none;
    overflow-x: auto;
}
.jobsListHolder {
    height:     296px;
    overflow-y: auto;
    direction:  rtl;
    margin-block-start: 5px;
    margin-block-end:   5px;
}
.jobElement {
    display:    flex;
    align-items: center;

    display:            -webkit-flex;
    -webkit-align-items: center;

    height:     40px;
    margin:     3px;
    border:	1px solid #000;
    border-radius: 4px;
    direction:  ltr;
}
.jobElementGraph {
    direction:  ltr;
    border-bottom: 1px solid #000;
    background-color: bisque;
    display:    none;
    overflow-x: auto;
}
.jobItemName {
    display:    flex;
    align-items: center;
    justify-content: left;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: left;

    margin-left: 2px;
    padding:    0 1em;
    width:      12em;
    height:     36px;
}
.jobItemInstance {
    display:    flex;
    align-items: center;
    justify-content: left;

    display:    -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: left;

    margin-left: 2px;
    padding:    0 1em;
    width:      12em;
    height:     36px;

    cursor:     pointer;
}

#configHolder {
    display:    flex;
    justify-content: center;
    align-items: center;

    display:                    -webkit-flex;
    -webkit-justify-content:	center;
    align-items: center;

    margin-top: 32px;
}
#configEntryHolder {
    border:	1px solid #000;
}
.config_label {
    display:    inline-block;
    float:      left;
    clear:      left;
    width:      256px;
    text-align: right;
    margin:     3px 10px;
}
.config_input {
    display:    inline-block;
    float:      left;
    width:      100px;
    margin:     3px 10px;
}

/* ex:set ai shiftwidth=4 inputtab=spaces smarttab noautotab: */
